
<%- include('partials/headerHome') %>
    <% let dateUpdated = dogs[0].dateUpdated %>
    <% let totalStakes = 0 %>
    <% let totalFirsts = 0 %>
    <% let totalSeconds = 0 %>
    <% let totalThirds = 0 %>
    <% let totalStarts = 0 %>
    <% let totalWinPlace = 0 %>
    <% let syndicateStakes = 0 %>
    <% let percentPlace = 0 %>
    <% let breakEven %>
    <% let dogsNames = [] %>
    <% let wins = [] %>
    <% let winsPercent = [] %>
    <% let places = [] %>
    <% let placesPercent = [] %>
    <% let stakes = [] %>
    <% let stakesPerRace = [] %>
    
    <% dogs.forEach(dog => {
        totalStakes = totalStakes + dog.stakes
        totalFirsts = totalFirsts + dog.firsts
        totalSeconds = totalSeconds + dog.seconds
        totalThirds = totalThirds + dog.thirds
        totalStarts = totalStarts + dog.starts
        dogsNames.push(dog.name)
        wins.push(dog.firsts)
        winsPercent.push(((dog.firsts/dog.starts)*100).toFixed(1))
        places.push(dog.seconds + dog.thirds)
        placesPercent.push((((dog.seconds + dog.thirds)/dog.starts)*100).toFixed(1))
        stakes.push(dog.stakes)
        stakesPerRace.push((dog.stakes/dog.starts).toFixed(1))
    })%>
    
    <% breakEven = ((totalStakes/120000)*100).toFixed(1)%>
    <% syndicateStakes = ((totalStakes * 0.05).toFixed(0))%>
    <% breakEven = ((syndicateStakes/6000)*100).toFixed(1)%>
    <% totalWinPlace = (((totalFirsts + totalSeconds + totalThirds)/totalStarts)*100).toFixed(0) %>
    <%let pieData = [syndicateStakes, 6000-syndicateStakes] %>

<% let options = { timeZone: "Pacific/Auckland", hour: '2-digit', minute: '2-digit' } %>
<% let newTime = new Date().toLocaleString("en-AU", options)
%>

<div class="banner">
    <p class="bannerHeading">Funky's Boys</p>
    <img src="./Greyhound.png" class="logo"/>
    <p class="bannerSubHeading">Greyhound Racing Syndicate</p>
</div>

<div class="containerAll">

<div class="NZTime">
<p style="margin-right: 10px">Current time in Auckland: <%= newTime %></p>
</div>


    <div class="boysdogsList">
        
        <div class="boysList">
            <h3 style="color: steelblue"> The Boys</h3>
            <ul>
                <li>Mark (Funky)</li>
                <li>Glenn</li>
                <li>Mal</li>
                <li>John</li>
                <li>Tony</li>
                <li>Duncs</li>
                <li>Andrew</li>
                <li>Doug</li>
            </ul>
            <p>Manager: Craig</p> 
        </div>

        <div class="dogsContainer">
            <h3 style="color: steelblue">The Dogs</h3>
            <p class="updatedDate">Updated: <%= dateUpdated %></p>
            <div class="table-responsive" style="margin-bottom:15px">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th class="text-center">NAME</th>
                        <th class="text-center">STARTS</th>
                        <th class="text-center">1st</th>
                        <th class="text-center">2nd</th>
                        <th class="text-center">3rd</th>
                        <th class="text-center">STAKES ($)</th>
                        <th class="text-center">% WIN OR PLACE<th> 
                    </tr>
                </thead>
                <tbody>
                <% dogs.forEach(dog => { %>      
                <% percentPlace = (((dog.firsts+dog.seconds+dog.thirds)/dog.starts)*100).toFixed(0)%>
                    <tr>
                        <th><%= dog.name %></td>
                        <td class="text-center"><%= dog.starts %></td>
                        <td class="text-center"><%= dog.firsts %></td>
                        <td class="text-center"><%= dog.seconds %></td>
                        <td class="text-center"><%= dog.thirds %></td>
                        <td class="text-center"><%= dog.stakes %></td>
                        <td class="text-center"><%= percentPlace %></td>
                    <tr>
                     <% }) %>
                        <tr>
                        <th>Totals</th>
                        <th class="text-center"><%= totalStarts %></th>
                        <th class="text-center"><%= totalFirsts %></th>
                        <th class="text-center"><%= totalSeconds %></th>
                        <th class="text-center"><%= totalThirds %></th>
                        <th class="text-center"><%= totalStakes %></th>
                        <th class="text-center"><%= totalWinPlace %></th>
                     </tr>
                </tbody>
                </table>
            </div>
            <p style="color:grey; margin-bottom:5px">For more details on dogs click <a href="https://www.grnz.co.nz/greyhounds/profiles.aspx">here</a> (GRNZ site) and enter dogs name.</p>
            <p style="color:lightgrey; ; margin-bottom:0">Note: Fools Russian is "Fool's Russian" and Sub 23 is "Sub Twenty Three"</p>
            <p style="color:grey; margin-bottom:5px">For upcoming race meets click <a href="https://www.grnz.co.nz/catch-the-action/fields.aspx">here</a>.</p>
        </div>
    </div>
    
    <hr class="rule">
    
    <div class="dataSummaryHeading">
        <h3>THE STATS<h3>
    </div>

    <div class="dataSummary">    
        <div class="graphSectionHeadPie">
        <h4>Stakes</h4>
        </div>
        <div class="graphGroupPie">
            <div class="stakesInfo">
                <h4>Total: $<%= totalStakes %><h4>
                <h4>Syndicate: $<%= syndicateStakes %><h4>
            </div>
            <div class="graphPie">
                <h5>Break-even: <%= breakEven %>% </h5>
                <div id="chart7" class="ct-chart7"></div> 
            </div>
        </div>
    </div> 

        <div className="allGraphs">
        <div className="graphPlusHead">
            <div class="graphSectionHead">
                <h4>Wins</h4>
            </div> 
            <div class="graphGroups">
                <div class="graph">
                    <h5 class="graphSubSectionHead">Wins Total</h5>
                    <div id="chart1" class="ct-chart1"></div> 
                </div>
                <div class="graph">
                    <h5 class="graphSubSectionHead">Wins Percent</h5>
                    <div id="chart2" class="ct-chart2"></div> 
                </div>
            </div>
        </div>

        <div className="graphPlusHead">
            <div class="graphSectionHead">
                <h4>Places</h4>
            </div>
            <div class="graphGroups">
                <div class="graph">
                    <h5 class="graphSubSectionHead">Places Total</h5>
                    <div id="chart3" class="ct-chart3">
                </div> 
                </div>
                <div class="graph">
                    <h5 class="graphSubSectionHead">Places Percent</h5>
                    <div id="chart4" class="ct-chart4"></div> 
                </div>
            </div>
        </div>
        
        <div className="graphPlusHead">
        <div class="graphSectionHead">
            <h4>Stakes</h4>
        </div>
        <div class="graphGroups">
            <div class="graph">
                <h5 class="graphSubSectionHead">Stakes Total</h5>
                <div id="chart5" class="ct-chart5"></div> 
            </div>
            <div class="graph">
                <h5 class="graphSubSectionHead">Average Stakes Per Race</h5>
                <div id="chart6" class="ct-chart6"></div> 
            </div>
        </div>
        </div>
    </div>
</div>

<% let dataseries1 = {labels: dogsNames, series: [wins]}
%>

<% let series1 = JSON.stringify(dataseries1).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries2 = {labels: dogsNames, series: [winsPercent]}
%>

<% let series2 = JSON.stringify(dataseries2).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries3 = {labels: dogsNames, series: [places]}
%>

<% let series3 = JSON.stringify(dataseries3).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries4 = {labels: dogsNames, series: [placesPercent]}
%>

<% let series4 = JSON.stringify(dataseries4).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries5 = {labels: dogsNames, series: [stakes]}
%>

<% let series5 = JSON.stringify(dataseries5).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries6 = {labels: dogsNames, series: [stakesPerRace]}
%>

<% let series6 = JSON.stringify(dataseries6).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% let dataseries7 = {series: pieData} 
%>

<% var data7options = {labelOffset: 17}
%>

<% let series7 = JSON.stringify(dataseries7).replace(/"(\w+)"\s*:/g, '$1:')
%>

<% var options7 = JSON.stringify(data7options).replace(/"(\w+)"\s*:/g, '$1:')
%>



    <script>
        new Chartist.Bar('.ct-chart1', <%- series1 %>)
        new Chartist.Bar('.ct-chart2', <%- series2 %>)  
        new Chartist.Bar('.ct-chart3',<%- series3 %>)
        new Chartist.Bar('.ct-chart4',<%- series4 %>) 
        new Chartist.Bar('.ct-chart5',<%- series5 %>) 
        new Chartist.Bar('.ct-chart6',<%- series6 %>)    
        new Chartist.Pie('.ct-chart7', <%- series7 %>, <%- options7 %>)  
    </script>

</div>
<%- include('partials/footer') %>
